html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  font-family: sans-serif;
}

canvas {
  width: 90vmin;
  height: 90vmin;
  max-width: 800px;
  max-height: 800px;
  border: 1px solid #eee;
  border-radius: 45vmin;
  overflow: hidden;
}

.content {
  padding: 5vmin;
}
